* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsla(313, 42%, 91%, 0.815);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    padding: 20px;
    /* margin: 30px; */
}



.gallery-item img {
    width: 210px;
    height: 300px;
    transition: transform 0.5s;
}

.gallery-item:hover img {
    transform: rotate(1turn);
}
